body
{
	font-family: Roboto, Arial, Sans-serif;
	font-size:16px;
	line-height:24px;
	
}
h2
{
	font-family: Roboto, Arial, Sans-serif;
	font-size:55px;
	line-height:55px;
	}




header
{
	background-color:#eeeeee;
	height:545px;
}
.container, .map
{
	width:1160px;
	margin:0 auto;
	padding:0px 20px
}
.slide2, .slide3
{
	display:none;
}
.right-column
{
	float:right;
	width:800px
}
.template-item
{
	display:inline-block;
	margin-left:20px;
}
.left-column
{
	float:left;
	width:360px
}
.clearfix::after
{
	content:"";
	display:table;
	clear:both
}